<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>경기 목록</title>
</head>
<body>
    <h1>경기 목록</h1>
    <ul>
        {% for match in matches %}

            <li>
                 <a href="{% url 'game_result' rally.rally_id match.match_id %}">
                    {{ match.match_name }} ({{ match.match_date }} - {{ match.location }} - {{match.sport_id.name}})
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
      <a href="{% url 'match_add' rally.rally_id %}"><button type="button">경기 추가</button></a>
    {% endif %}
    <a href="{% url 'rally_list' %}"><button type="button">대회 목록으로 돌아가기</button></a>
</body>
</html>