body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #139383; /* 배경색 */
    color: white; /* 텍스트 색상 */
    width: 100%; /* 헤더가 전체 너비를 차지하도록 설정 */
    height: 50px; /* 헤더 높이 설정 */
    padding: 10px 0; /* 패딩 추가 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 계산 */
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 정렬 */
    align-items: center; /* 세로 정렬 */
    height: 100%; /* nav가 헤더의 전체 높이를 차지하도록 설정 */
    padding: 0 20px; /* 패딩 추가 */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav .left {
    margin-right: auto; /* 왼쪽 끝으로 밀기 */
}

nav .right {
    margin-left: auto; /* 오른쪽 끝으로 밀기 */
}

html, body {
    margin: 0;
    padding: 0;
}