{% extends 'base.html' %}
{% block title %} 관리자 페이지 {% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-center my-6">관리자 페이지</h1>
    <div class="flex flex-col items-center mt-12 space-y-4">
        <a href="{% url 'student_list' %}" class="w-48 p-2 text-center bg-emerald-500 text-white rounded hover:bg-emerald-700">학생 관리</a>
        <a href="{% url 'major_list' %}" class="w-48 p-2 text-center bg-emerald-500 text-white rounded hover:bg-emerald-700">학과 관리</a>
        <a href="{% url 'sport_list' %}" class="w-48 p-2 text-center bg-emerald-500 text-white rounded hover:bg-emerald-700">스포츠 관리</a>
        {% if user.is_superuser %}
            <a href="{% url 'user_list' %}" class="w-48 p-2 text-center bg-emerald-500 text-white rounded hover:bg-emerald-700">관리자 관리</a>
        {% endif %}
        <a href="{% url 'logout' %}" class="w-48 p-2 text-center bg-emerald-500 text-white rounded hover:bg-emerald-700">로그아웃</a>
    </div>
{% endblock %}