{% extends 'base.html' %}
{% block title %} 대회 목록 {% endblock %}
{% block content %}
    <h1 class="text-3xl font-bold text-center my-6 ">대회 목록</h1>
    <form method="get" action="{% url 'competition_list' %}" class="flex justify-center mb-6 max-w-2xl mx-auto">
        <input type="text" name="q" placeholder="대회 검색" class="p-2 border border-gray-300 rounded mr-2 w-11/12">
        <button type="submit" class="p-2 bg-emerald-500 text-white rounded hover:bg-emerald-700">검색</button>
    </form>
    <ul class="max-w-2xl mx-auto">
        {% for competition in competitions %}
            <li class="bg-white border border-gray-300 rounded p-4 mb-4 shadow">
                <div class="flex justify-between items-center">
                    <a href="{% url 'match_list' competition.competition_id %}" class="font-bold hover:underline text-blue-500">
                        {{ competition.name }} ({{ competition.start_date }} - {{ competition.end_date }})
                    </a>
                    {% if user.is_authenticated %}
                        <!-- 대회 삭제 폼 -->
                        <form method="post" action="{% url 'competition_delete' competition.competition_id %}">
                            {% csrf_token %}
                            <button type="submit" class="p-2 bg-red-500 text-white rounded hover:bg-red-700">삭제</button>
                        </form>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <div class="flex justify-center mt-6">
            <a href="{% url 'competition_add' %}">
                <button type="button" class="p-2 bg-emerald-500 text-white rounded hover:bg-emerald-700">대회 추가</button>
            </a>
        </div>
    {% endif %}
{% endblock %}
