{% extends 'base.html' %}
{%  block title %} 경기 목록 {% endblock %}
{% block style %} 
   <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
{% endblock %}
{% block content %}
   <h1>경기 목록</h1>
    <ul>
        {% for match in matches %}

            <li>
                 <a href="{% url 'game_result' competition.competition_id match.match_id %}">
                    [{{match.sport.name}}] {{ match.match_name }} ({{ match.match_date }} - {{ match.location }})
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
      <a href="{% url 'match_add' competition.competition_id %}"><button type="button">경기 추가</button></a>
    {% endif %}
    <a href="{% url 'competition_list' %}"><button type="button">대회 목록으로 돌아가기</button></a>
{% endblock %}