{% extends 'base.html' %}
{% block title %} 경기 목록 {% endblock %}
{% block style %}
   <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
{% endblock %}

{% block content %}
   <h1 class="text-3xl font-bold text-center my-6">경기 목록</h1>
    <form method="get" action="{% url 'match_list' competition.competition_id %}" class="flex justify-center mb-6 max-w-2xl mx-auto">
        <input type="text" name="q" placeholder="경기 검색" class="p-2 border border-gray-300 rounded mr-2 w-11/12">
        <button type="submit" class="p-2 bg-emerald-500 text-white rounded hover:bg-emerald-700">검색</button>
    </form>
    <ul class="max-w-2xl mx-auto">
        {% for match in matches %}
            <li class="bg-white border border-gray-300 rounded p-4 mb-4 shadow">
                <div class="flex justify-between items-center">
                    <a href="{% url 'game_result' competition.competition_id match.match_id %}" class="font-bold hover:underline text-blue-500">
                        [{{match.sport.name}}] {{ match.match_name }} ({{ match.match_date }} - {{ match.location }})
                    </a>
                    {% if user.is_authenticated %}
                        <!-- 경기 삭제 폼 -->
                        <form method="post" action="{% url 'match_delete' competition.competition_id match.match_id %}">
                            {% csrf_token %}
                            <button type="submit" class="p-2 bg-red-500 text-white rounded hover:bg-red-700">삭제</button>
                        </form>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="flex justify-center mt-6">
        <a href="{% url 'competition_list' %}">
            <button type="button" class="p-2 bg-emerald-500 text-white rounded hover:bg-emerald-700">대회 목록</button>
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'match_add' competition.competition_id %}" class="ml-4">
                <button type="button" class="p-2 bg-emerald-500 text-white rounded hover:bg-emerald-700">경기 추가</button>
            </a>
        {% endif %}
    </div>
{% endblock %}
