<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>대회 목록</title>
</head>
<body>
    <h1>대회 목록</h1>
    <ul>
        {% for rally in rallies %}
            <li>
                <a href="{% url 'match_list' rally.rally_id %}">
                    {{ rally.name }} ({{ rally.start_date }} - {{ rally.end_date }})
                </a>
            </li>
        {% endfor %}
    </ul>
   {% if user.is_authenticated %}
        <a href="{% url 'rally_add' %}"><button type="button">대회 추가</button></a>
        <a href="{% url 'logout' %}"><button type="button">로그아웃</button></a>
    {% else %}
        <a href="{% url 'login' %}"><button type="button">로그인</button></a>
    {% endif %}
    <div class="button-container">
        <a href="{% url 'sport_list' %}"><button type="button">스포츠 목록</button></a>
    </div>
</body>
</html>