{% extends 'base.html' %}
{% block title %} 학생 목록 {% endblock %}
{% block style %}{% endblock %}
{% block content %}
    <h1 class="text-3xl font-bold text-center my-6">학생 목록</h1>
    <form method="get" action="{% url 'student_list' %}" class="flex justify-center mb-6 max-w-2xl mx-auto">
        <input type="text" name="q" placeholder="학생 검색" class="p-2 border border-gray-300 rounded mr-2 w-11/12">
        <button type="submit" class="p-2 bg-emerald-500 text-white rounded hover:bg-emerald-700">검색</button>
    </form>
    <div class="flex justify-center">
        <table class="w-full max-w-3xl border-collapse">
            <thead>
                <tr>
                    <th class="border border-black px-4 py-2">이름</th>
                    <th class="border border-black px-4 py-2">학번</th>
                    <th class="border border-black px-4 py-2">학과</th>
                    {% if user.is_authenticated %}
                        <th class="border border-black px-4 py-2">삭제</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td class="border border-black px-4 py-2"><a href="{% url 'student_detail' student.student_id %}" class="text-blue-500 hover:underline">{{ student.name }}</a></td>
                        <td class="border border-black px-4 py-2">{{ student.student_num }}</td>
                        <td class="border border-black px-4 py-2">{{ student.major.name }}</td>
                        {% if user.is_authenticated %}
                            <td class="border border-black px-4 py-2 text-center">
                                <form method="post" action="{% url 'student_delete' student.student_id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="p-2 bg-emerald-500 text-white rounded hover:bg-emerald-700">삭제</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if user.is_authenticated %}
        <div class="flex justify-center mt-6">
            <a href="{% url 'student_add' %}">
                <button type="button" class="p-2 bg-emerald-500 text-white rounded hover:bg-emerald-700">학생 추가</button>
            </a>
        </div>
    {% endif %}
{% endblock %}