{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block style %} {% endblock %}
    {% block script %} {% endblock %}
</head>
<header>
        <nav>
            <ul class="left">
                <li><a href="{% url 'competition_list' %}">MNU Sport</a></li>
            </ul>
            <ul class="right">
                <li><a href="{% url 'admin_page' %}">Admin Page</a></li>
            </ul>
        </nav>
</header>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>